/** cores unimed **/
.bg-pantone348c{background-color: #00995D !important;}
.bg-pantone381c{background-color: #B1D34B !important;}
.bg-pantone7506c{background-color: #FFF0C7 !important;}
.bg-branco{background-color: #FFFFFF !important;}
.bg-pantone192c{background-color: #ED1651 !important;}
.bg-pantone248c{background-color: #A3238E !important;}
.bg-pantone1585c{background-color: #F47920 !important;}
.bg-pantone123c{background-color: #FFCB08 !important;}
.bg-pantone428c{background-color: #C4CBCF !important;}
.bg-pantone357c{background-color: #00401A !important;}
.bg-pantone2627c{background-color: #411564 !important;}
.bg-pantone561c{background-color: #0A5F55 !important;}
.bg-pantone{background-color: #5B5C65 !important;}
.bg-pantone731c{background-color: #682D00 !important;}

.btn-patone348{color:#fff;background-color:#00995D;border-color:#00995D}
.btn-patone348:hover{color:#fff;background-color:#00995F;border-color:#00995F}
