/** cores unimed **/
.bg-pantone348c{background-color: #00995D !important;}
.bg-pantone381c{background-color: #B1D34B !important;}
.bg-pantone7506c{background-color: #FFF0C7 !important;}
.bg-branco{background-color: #FFFFFF !important;}
.bg-pantone192c{background-color: #ED1651 !important;}
.bg-pantone248c{background-color: #A3238E !important;}
.bg-pantone1585c{background-color: #F47920 !important;}
.bg-pantone123c{background-color: #FFCB08 !important;}
.bg-pantone428c{background-color: #C4CBCF !important;}
.bg-pantone357c{background-color: #00401A !important;}
.bg-pantone2627c{background-color: #411564 !important;}
.bg-pantone561c{background-color: #0A5F55 !important;}
.bg-pantone{background-color: #5B5C65 !important;}
.bg-pantone731c{background-color: #682D00 !important;}

/** card cores unimed **/
.card-pantone348c{border-color: #00995D !important; color: #00995D !important;}
.card-pantone381c{border-color: #B1D34B !important; color: #B1D34B !important;}
.card-pantone192c{border-color: #ED1651 !important; color: #ED1651 !important;}
.card-pantone428c{border-color: #C4CBCF !important; color: #C4CBCF !important;}
.card-pantone357c{border-color: #00401A !important; color: #00401A !important;}
.card-pantone2627c{border-color: #411564 !important; color: #411564 !important;}
.card-pantone{border-color: #5B5C65 !important; color: #5B5C65 !important;}
